
.all {
    width: 100%;
    height: 100%;


    .allTop {
        width: 100%;
        height: 50%;
        border: 1px solid gray;
    }

    .allBottom {
        width: 100%;
        height: 50%;
    }
}
